@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@font-face {
    font-family:"Gilroy", sans-serif;
    src: url('./Assets/fonts/Gilroy-Regular.ttf') format('truetype');
}
:root {
    --upperheadingcolor:#68D585;
    --herobtn:#473BF0;

}

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: inherit;
    font-size: inherit;
    list-style: none;
    text-decoration: none;
    border: none;
    background-color: transparent;
}

body{
    font-family:"Gilroy", sans-serif;
    overflow-x: hidden;
    
}

.nav_flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-top: 40px;
    margin-left: 245px;
    margin-right: 245px;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.background_img{
    background-image: 
    url(./Assets/austin-distel-wawEfYdpkag-unsplash.png);
    height: 1001px;
    background-color: #161C2D;
    background-repeat: no-repeat;
    background-size: cover;
}

.cta_flex{
    width: 770px;
    height: 95px;
    margin: 50px auto;
    background-color: #E7E9ED;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    
}

.first_section{
    margin-top: 240px;
}

.short_wrdn{
    color: var(--upperheadingcolor);
    text-align: center;
    font-size: 13px;
    font-weight: 700;
}

.f_header{
    width: 100%;
}

.f_header h1 {
    margin: 0 auto;
    width: 50%;
    font-size: 60px;
    text-align: center;
    color: white;
    margin-top: 50px;
    font-weight: 700;
    line-height: 65px;
}

.vertical_line{
    border-left: 2px solid #95979b;
    height: 90px;
}

.location_f{
    width: 250px;
    height:50px;
    border: 1px solid #95979b ;
    margin-left : 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.calendar_f{
    width: 250px;
    height:50px;
    border: 1px solid #95979b ;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first_btn{
width: 199px;
height: 51px;
background-color: var(--herobtn);
color: white;
border-radius: 10px;
margin-right: 15px;
}

.form_f{
    width: 200px;
}

.play_word{
    color: white;
    font-size: 17px;
    font-weight: 400;
    line-height: 29px;

}

.play_f{
display: flex;
align-items: center;
justify-content: center;
gap: 5px;
}

.cd_f{
margin-top: 200px;
display: flex;
align-items: center;
justify-content: center;
}

.main_flex{
    width: 1601px;
    height: 214px;
    margin: 50px auto ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.main_a{
    display: flex;
    flex-direction: column;
}
.main_b{
    display: flex;
    flex-direction: column;
    
}
.main_c{
    display: flex;
    flex-direction: column;
}

.a_flex{
    color:#161C2D;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.b_flex{
font-size: 19px;
font-weight: 400;
opacity: 70%;
line-height: 32px;
color: #161C2D;
width: 266px;
text-align: center;
}

.sub_flex{
    height: 796px;
    width: 100%;
    margin-top:100px;
}

h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    color:#161C2D;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub_b{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto ;
    width: 30%;
    text-align: center;
    margin-top: 30px;
    opacity: 70%;
    font-size: 19px;
    font-weight: 400;
    line-height: 32px;
    color: #161C2D;
}

.set_flex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: 60px;
}

.sst_a{
    height: 470px;
}


/* .imga_hv:hover{
    width: 310px;
    height: 461px;
    transition: ease-in-out;
    transition-duration: 8s;
} */

.wrd_a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    color:#161C2D;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;

}

.num_a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrd_b{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    color:#161C2D;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;

}

.num_b{
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrd_c{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    color:#161C2D;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;

}

.num_c{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover_subset{
    width: 1600px;
    height: 1041px;
    margin: 0 auto;
}

.subset_flex{
    height: 698px;
    margin-top: 100px;
    background-color:#F4F7FA;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ss_f{
    margin-top: 100px;
    position: relative;
    left: 100px;
}

.scnd_hdr{
width: 70%;
margin-top: 20%;
font-size: 48px;
font-weight: 700;
line-height: 58px;
color: #161C2D;
}

.third_hdr{
    width: 50%;
    margin-top: 40px;
    font-size: 19px;
    font-weight: 400;
    line-height: 32px;
    color: #161C2D;
    opacity: 70%;

}

.furt_hdr{
    width: 520px;
    height: 600px;
    margin-top: 50px;
}

.single_flex{
    width: 520px;
    height: 670px;
    margin-top: 35%;
    position: relative;
    right: 120px;
    bottom: 40px;
}

.superset_flex{
    width: 1105px;
    height: 136px;
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 50px auto;
}

.fifth_hdr{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.fft_hd{
    display: flex;
    flex-direction: column;
}


.sixth_hdr{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.sx_hd{
    display: flex;
    flex-direction: column;
}


.seventh_hdr{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.sv_hd{
    display: flex;
    flex-direction: column;
}

.t_hd{
position: relative;
bottom: 20px;
color: #161C2D;
font-size: 21px;
font-weight: 700;
line-height: 32px;
}

.x_hd{
width: 85%;
color: #161C2D;
font-size: 17px;
font-weight: 400;
line-height: 29px;
opacity: 70%;
}

.v_hd{
position: relative;
bottom: 50px;
right: 10px;
color: #2D2D2D;
width: 40px;
height: 40px;
}

.backup_flex{
    width: 1600px;
    height: 795px;
    margin-top: 1400px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: #161C2D;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backup_up{
    width: 100%;
    position: relative;
    left: 120px;
}

.backup_down{
    position: relative;
    right: 120px;
}

.backup_up h2 {
    width: 469px;
    height: 116px;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    color: white;
    width: 60%;
    margin-bottom: 20px;
}

.up_b{
    width: 384px;
    height: 64px;
    color:#FFFFFF;
    opacity: 65%;
    font-size: 19px;
    font-weight: 400;
    line-height: 32px;
}

.up_c{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.up_d{
    width: 30px;
    height: 30px;
    margin-top: 10px;
    position: relative;
    bottom: 40px;
}

.up_e{
    display: flex;
    flex-direction: column;
}

.up_f{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.up_g{
    display: flex;
    flex-direction: column;
}

.up_bold{
    color: white;
    /* width: 191px; */
    height: 32px;
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 10px;
}

.up_faint{
color: white;
width: 339px;
height: 58px;
margin-top: 5px;
opacity: 65%;
font-size: 17px;
font-weight: 400;
line-height: 29px;
}

.shade_pro{
    background-image: 
    url(./Assets/white_box.svg);
    height: 447px;
    width: 540px;
    background-repeat: no-repeat;
    position: relative;
    right:130px;
    top: 5px;
}

.shade_a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px auto;
    width: 100%;
}

.shade_b{
position: relative;
left: 25px;
width: 232px;
height: 32px;
font-size: 21px;
font-weight: 700;
line-height: 32px;
color: #161C2D;
width: 50%;
}

.shade_c{
    position: relative;
    right: 30px;
}

.shade_up{
    width: 100%;
}

.shade_d{
    width: 78%;
    margin: 20px auto;
    height: 87px;
    font-style: 17px;
    font-weight: 400;
    line-height: 29px;
    color:#161C2D;
    opacity: 70%;
    position: relative;
    right: 35px;
}

.horizontal_line{
    border-top: 2px solid #E7E9ED;
    width: 477px;
    height: 1px;
    margin: 25px auto;
}

.shade_e{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 30px auto; */
    width: 100%;
}

.shade_f{
    position: relative;
    left: 25px;
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
    color: #161C2D;
    width: 80%;
}

.shade_g{
    position: relative;
    right: 30px;
}

.getupdate_section{
    width: 527px;
    height: 406px;
    margin: 60px auto;
}

.get{
width: 100%;
}

.get_a{
    width: 388px;
    height: 58px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: #161C2D;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    width: 90%;
}

.get_b{
    width: 100%;
}

.get_c{
    font-size: 19px;
    width: 527px;
    height: 64px;
    color: #161C2D;
    opacity: 70%;
    font-weight: 400;
    line-height: 32px;
    letter-spacing:-0.2px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px auto;
    width: 90%;
}

.get_d{
    display: flex;
    flex-direction: column;
}

.get_e{
    width: 369px;
    height: 59px; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    border-radius: 10px;
    border: 1px solid #E7E9ED;
}

.get_f{
    position: relative;
    right: 70px;
}

.get_g{
    width: 368px;
    height: 59px;
    background-color: #473BF0;
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
}

.get_h{
width: 365px;
height: 52px;
top: 354px;
color: #161C2D;
opacity:70%;
font-size: 15px;
font-weight: 400;
line-height: 26px;
letter-spacing: -0.10000000149011612px;
text-align: center;
width: 100%;
}

.get_i{
    width: 60%;
    margin: 20px auto;
}

.footer_details{
    width: 1601px;
    height: 533px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 110px;
    margin: 0 auto;
}

.lhorizontal_line{
    border-top: 2px solid #E7E9ED;
    width: 1601px;
    height: 1px;
    margin: 25px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 25px;
}

.footer_b{
    position: relative;
    bottom: 65px;
    font-size: 15px;
font-weight: 400;
line-height: 26px;
letter-spacing: -0.10000000149011612px;
text-align: left;
color:#161C2D;
opacity: 70%;
}

.lines_a{
    line-height: 40px;
    position: relative;
    bottom: 20px;
    font-size: 17px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -0.20000000298023224px;
    color:#161C2D;
}

.footer_d{
    position: relative;
    bottom: 45px;
    font-size: 15px;
font-weight: 400;
line-height: 26px;
letter-spacing: -0.10000000149011612px;
text-align: left;
color:#161C2D;
opacity: 70%;
}

.lines_b{
    line-height: 40px;
    font-size: 17px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -0.20000000298023224px;
    color:#161C2D;
}

.footer_f{
    
    position: relative;
    bottom: 65px;
    font-size: 15px;
font-weight: 400;
line-height: 26px;
letter-spacing: -0.10000000149011612px;
text-align: left;
color:#161C2D;
opacity: 70%;
}

.lines_c{
    line-height: 40px;
    position: relative;
    bottom: 20px;
    font-size: 17px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -0.20000000298023224px;
    color:#161C2D;
}

.footer_h{
    position: relative;
    bottom: 85px;  
    font-size: 15px;
font-weight: 400;
line-height: 26px;
letter-spacing: -0.10000000149011612px;
text-align: left;
color:#161C2D;
opacity: 70%;
}

.lines_d{
    line-height: 40px;
    position: relative;
    bottom: 40px;
    font-size: 17px;
font-weight: 400;
line-height: 40px;
letter-spacing: -0.20000000298023224px;
color:#161C2D;
}

.footer_j{
    position: relative;
    bottom: 105px;
font-size: 15px;
font-weight: 400;
line-height: 26px;
letter-spacing: -0.10000000149011612px;
color:#161C2D;
opacity: 70%;

}

.lines_e{
    line-height: 40px;
    position: relative;
    bottom: 60px;
    font-family: Gilroy;
font-size: 17px;
font-weight: 700;
line-height: 40px;
letter-spacing: -0.20000000298023224px;
text-align: left;
color:#473BF0;
}

.lowerhorizontal_line{
    border-bottom: 2px solid #E7E9ED;
    width: 1111px;
    height: 2px;
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 60px;
}

.right_social{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 430px;
    margin-bottom: 30px;
    position: relative;
    bottom: 50px;
}